{% extends 'base.html' %}
{% block nav %}
{% include 'accounts/_accounts.html' %}
{% endblock nav %}
{% block body %}
{% if user != user_info %}
<h1 class="ui header">{{ user_info.username }}</h1>
    <div class="ui labeled button" tabindex="0">
        <div class="ui grey button">
        <a href="{% url 'accounts:follow' user_info.id %}" style="color: white;"> 
            {% if user_info in user.following.all %}
                <i class="ui user icon"></i>
                Followed
            {% else %}
                <i class="ui outline user icon"></i>
                Follow
            {% endif %}
            </a>
        </div>
        <a class="ui basic grey left basic label">
            {{ user_info.follower.count}}
        </a>
    </div>
{% else %}
<h1 class="ui header">Mypage</h1>
    <div class="ui labeled button" tabindex="0">
        <div class="ui grey button">
            <i class="ui user icon"></i>
                Follower
        </div>
        <a class="ui basic grey left basic label">
            {{ user_info.follower.count}}
        </a>
    </div>
{% endif %}
<hr>
<h2 class="ui header">Like Movies</h5>
{% for movie in user_info.like_movies.all  %}
    <div class="item">
        <div class="content">
            <div class="header"></div>
            <i class="ui film icon"></i>
            <a style="text-decoration: none; color: #2E2E2E;" href="{% url 'movies:movie_detail' movie.id %}">
                {{ movie.title }}
            </a>
        </div>
    </div>
{% endfor %}
<hr>
<h2 class="ui header">Comments</h5>
{% for rating in user_info.rating_set.all %}
        <div class="comment">
            <div class="content">
                <a href="{% url 'movies:movie_detail' rating.movie.id %}" class="ui small header">{{ rating.movie.title }}</a>
                <div class="text">
                    {{ rating.score }}
                    <i class="star yellow icon"></i>
                        
                        {{ rating.content }}
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock body %}