{% extends 'base.html' %}

{% block nav %}
{% include 'movies/_movies.html' %}
{% endblock nav %}
{% load humanize %}

{% block title %}
{% endblock title %}

{% block body %}

<div class="ui very padded segment">
    {% comment %} <div class="segment"> {% endcomment %}

        <div class="segment">
            

        </div>
        <div class="ui two column grid">
            <div class="ui five wide column">
                <div class="ui card">
                    <div class="ui image">
                        <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" />
                    </div>
                    <div class="content">
                        <a class="header">Team Fu &amp; Hess</a>
                        <div class="meta">
                            <span class="date">Created in Sep 2014</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui eleven wide column">
            <h1 class="header">
                {{ movie.title }}
                <div class="ui labeled right floated button" tabindex="0">
                    <div class="ui red button">
                        <a href="{% url 'movies:like_movie' movie.id %}" style="color: white;">
                            {% if is_like %}
                            <i class="ui heart icon"></i>
                            Dislike
                            {% else %}
                            <i class="ui outline heart icon"></i>
                            Like
                            {% endif %}
                        </a>
                    </div>
                    <a class="ui basic red left pointing basic label">
                        {{ movie.like_users.count }}
                    </a>
                </div>
            </h1>
            <div class="ui clearing divider"></div>
            <p class="card-text">
                <p>누적 관객수 : {{ movie.audience|intcomma }} | 장르 : {% for genre in genres %}{{ genre.name }}
                    {% endfor %}</p>
                <p>{{ movie.opendate }}</p>
                <p>{{ movie.description_head }}</p>
                <p>{{ movie.description }}</p>
            </p>
            </div>
            
        </div>

        <div class="ui clearing divider"></div>

        <div class="ui comments">
            <h3 class="header">{{ movie.rating_set.all.count }} 
            Comments</h3>
            {% for rating in movie.rating_set.all %}
            <div class="comment">
                <div class="content">
                    <a class="author">{{ rating.user }}</a>
                    <div class="text">
                        {{ rating.content }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="ui divider"></div>
        {% if request.user.is_authenticated %}
        <form class="ui form" method="POST">
            {% csrf_token %}
            <div class="field">
                <textarea></textarea>
            </div>
            <div class="ui blue labeled submit icon button">
                <i class="icon edit"></i>
            </div>
        </form>
        {% endif %}
    </div>
    {% endblock body %}